# Simulation outputs (ModelSim/Questa)
*.vcd
*.wlf
*.wdb
msim_transcript
modelsim.ini
vsim.wlf


# Platform Designer / IP Generator
ip/
qsys/
*_qip/
qsys_sync
*_hw.tcl


# OS
.DS_Store
Thumbs.db


# Python
scripts/test/__pycache__/
*.pyc


# Modelsim output folders
work/
scripts/work/


# Documentation
docs/